<template>
  <div id="app">
    <div class="page-content" :class="{'active': pathName.pathname != '/login'}">
      <HeaderComponent v-if=" pathName.pathname != '/login' && pathName.pathname != '/thanks'" />
      <router-view />
    </div>
  </div>
</template>

<script>
import LandingPage from '@/pages/Landing'
import LoginPage from '@/pages/Login'
import HeaderComponent from '@/components/HeaderComponent'
export default {
  name: 'App',
  components: {
    LandingPage,
    LoginPage,
    HeaderComponent
  },
  computed: {
    pathName() {
      return location
    }
  }
}
</script>
