body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.socialmedia__btns__btn a{
    color:#fff;
    text-decoration: none;
}

.authForm .socialmedia__btns__btn.google a{
    color: #aaaaaa;
    text-decoration: none;
}

img{max-width:100%}body{font-family:Roboto,sans-serif;font-size:14px}.capital{text-transform:uppercase}.fontl{font-weight:300}.fontr{font-weight:400}.fontm{font-weight:500}.fontb{font-weight:700}.fontbb{font-weight:900}.custom-btn{background-color:#00a898!important;border:0;outline:none;font-size:1em;border-radius:10px;letter-spacing:1px;box-shadow:0 1px 3px 1px rgba(0,0,0,.3)}.custom-link{color:#ffbf0e!important;text-decoration:none!important}.page-content{display:flex;flex-direction:column}.page-content.active{min-height:100vh}.page-content .content-wrapper{flex:1}.v-center{justify-content:center}.v-center,header{display:flex;align-items:center}header{background-color:#00a898;color:#fff;justify-content:space-between;box-shadow:0 0 8px 0 rgba(0,0,0,.5)}header .back-btn{background-color:transparent!important;border:0;box-shadow:none!important;outline:none;font-size:24px;font-weight:700}header .page-title{margin:0;font-size:20px;font-weight:300}header .right-menus{display:flex}header .right-menus__item a{padding:10px;color:#fff;font-size:24px;font-weight:700}.landingpage{display:grid;width:100%;height:100vh;align-items:center;justify-content:center}.landingpage__inner{width:335px;padding:15px}.landingpage__inner__title{color:#00a898;font-size:3em}.landingpage__inner__img{padding:20px 20px 50px}.landingpage__inner__link{margin-top:30px;display:block}.landingpage__inner a{text-decoration:none}.loginWrapper{background-color:#00a898;width:100%;min-height:100vh;background-attachment:fixed;overflow-y:auto;display:flex;flex-direction:column;align-items:center;justify-content:center;padding:50px}@media screen and (max-width:576px){.loginWrapper{padding:20px}}.loginWrapper__title{font-size:3em;color:#fff}.authForm{padding:15px 60px;background-color:#fff;width:518px;max-width:80%;border-radius:8px}@media screen and (max-width:576px){.authForm{padding:15px}}.authForm__title{text-transform:capitalize}.authForm__or,.authForm__title{text-align:center;color:#00a898;font-size:1.5em}.authForm .socialmedia__btns{display:flex;flex-direction:column;margin-top:25px}.authForm .socialmedia__btns__btn{margin-bottom:15px;text-transform:uppercase;border:0;box-shadow:none;border-radius:0;padding:10px;font-size:18px;font-weight:500}.authForm .socialmedia__btns__btn.google{background-color:#fff;color:#aaa;box-shadow:0 1px 2px 1px rgba(0,0,0,.2);display:flex;justify-content:space-between;align-items:center;padding:10px 50px 10px 20px}.authForm .socialmedia__btns__btn.google img{width:30px}.authForm .socialmedia__btns__btn.facebook{background-color:#45568e;display:flex;justify-content:flex-start;align-items:center;padding:5px 10px}.authForm .socialmedia__btns__btn.facebook img{width:40px;margin-right:8px}.authForm .socialmedia__btns__btn.instagram{background-image:linear-gradient(0deg,#e9e9e9,#f8f8f8);border:1px solid #bbb;color:#777;position:relative;padding-right:50px}.authForm .socialmedia__btns__btn.instagram img{position:absolute;right:0;top:0;height:100%}.authForm .socialmedia__btns__btn.green{background-color:#0f9d58}.authForm .socialmedia__btns__btn.blue{background-color:#0051a8}.authForm .socialmedia__btns__btn.pink{background-color:#e1306b}.authForm__form input{box-shadow:none!important}.authForm__form__btn{background-color:#ffbf0e!important;border:0;box-shadow:none;font-size:1em;padding:10px;margin:50px 0 15px;cursor:pointer}.authForm__form .authlink{margin-top:15px;cursor:pointer}.dashboard__btns{display:flex;flex-direction:column;width:225px}.dashboard__btns a{height:36px;color:#fff;line-height:36px;text-align:center;font-size:14px;border-radius:4px;font-weight:400;text-transform:capitalize;text-decoration:none;cursor:pointer}.dashboard__btns a:nth-last-child(n+2){margin-bottom:14px}.newadPage{justify-content:space-between}.newadPage,.newadPage__content{display:flex;flex-direction:column}.newadPage__content{align-items:center;padding:50px}@media screen and (max-width:576px){.newadPage__content{padding:20px}}.newadPage__content__title{font-size:1.4em;color:#424242;margin-bottom:30px}.newadPage__content__group__item{display:flex;justify-content:space-between;color:#424242;font-size:1.2em;margin-bottom:15px}@media screen and (max-width:576px){.newadPage__content form{width:100%}}.newadPage__content__form{width:343px}@media screen and (max-width:576px){.newadPage__content__form{width:100%}}.newadPage__content__form label{font-size:1.2em;color:#424242;text-transform:capitalize}.newadPage__content__form input{box-shadow:none!important;outline:none!important}.newadPage__content__form .adsubmitbtn{border-radius:4px;width:160px;height:36px;display:block;margin:40px auto}.newadPage__footer{display:flex;justify-content:space-between;padding:50px 50px}@media screen and (max-width:576px){.newadPage__footer{flex-direction:column}.newadPage__footer button:nth-child(n+2){margin-top:10px}}.newadPage__footer button{border-radius:4px;min-width:160px;height:36px;display:flex;align-items:center;justify-content:center}.newadPage__footer button svg{font-size:30px!important}.switch{display:inline-block;font-size:20px;margin-left:20px;height:1em;position:relative;cursor:pointer}.switch,.switch:after{width:2em;border-radius:1em}.switch:after{content:"";position:absolute;height:12px;background-color:rgba(221,0,0,.4);top:50%;transform:translateY(-50%)}.switch.active:after{background-color:rgba(0,168,152,.4)}.switch.active div{background-color:#00a898}.switch div{height:1em;width:1em;border-radius:1em;background:#d00;box-shadow:0 .1em .3em rgba(0,0,0,.3);z-index:1;position:relative;transition:all .3s}.switch input{position:absolute;opacity:0}.switch input:checked+div{transform:translate3d(100%,0,0)}.thanksPage__content{width:414px;max-width:90%;color:#424242;padding-bottom:57px}.thanksPage__content__title{font-size:30px;text-transform:lowercase;font-weight:400}.thanksPage__content p{font-size:1.2em}.thanksPage__content img{width:80%}.thanksPage__footer{position:fixed;width:100%;height:57px;background-color:#fff;box-shadow:0 0 8px 0 #ccc;left:0;bottom:0;display:flex;justify-content:center}.thanksPage__footer__item{width:168px;display:flex;justify-content:center}.thanksPage__footer__item a{display:flex;justify-content:center;flex-direction:column;color:#bbb;text-decoration:none}.thanksPage__footer__item a:hover{color:#00a898}.allmyads{display:flex;flex-direction:column;align-items:center}@media screen and (max-width:576px){.allmyads{padding-bottom:50px}}.allmyads__header{padding:50px 25px 0 25px}.allmyads__table{width:800px;max-width:90%;padding:50px}@media screen and (max-width:576px){.allmyads__table{padding:20px}}.allmyads__table table{border:1px solid #ccc}.allmyads__footer,.allmyads__footer__btn{display:flex;justify-content:center}.allmyads__footer__btn{border-radius:4px;text-decoration:none!important;width:217px;height:36px;align-items:center;color:#fff!important;letter-spacing:2px}.allmyads__footer__btn svg{font-size:2em}