<template>
    <div class="allmyads content-wrapper">
        <div class="allmyads__header">
            <b-form-datepicker id="example-datepicker" v-model="selectedDate" class="mb-2">
               
            </b-form-datepicker>
        </div>
        <div class="allmyads__table">
            <b-table striped  hover responsive :items="myads" :fields="table_header">
                 <template #cell(image)="data" >
                    <template v-if="data.item.image!=''">
                        <img :src="Url(data)" style="width:100px;" /> 
                    </template>
                </template>
            </b-table>
        </div>
        <div class="allmyads__footer">
            <router-link to="/newadd" class="custom-btn capital allmyads__footer__btn"><b-icon icon="plus" /> create new ad</router-link>
        </div>

    </div>
</template>

<script>
import moment from 'moment'
export default {
    data() {
        return {
            myads: [],
            selectedDate: '',
            table_header: [
                {
                    label: 'Serial',
                    key: 'id'
                },
                {
                    key: 'title',
                    label: 'Title',
                    sortable: true
                },
                {
                    key: 'sub_title',
                    label: 'Sub Title',
                    sortable: true
                },
                {
                    key: 'url',
                    label: 'Url',
                    sortable: true
                },
                {
                    key: 'desc',
                    label: 'Desc',
                    sortable: true
                },
                {
                    key: 'image',
                    label: 'Image',
                    sortable: true,
                    formatter: "media_image"
                },
                {
                    key: 'budge',
                    label: 'Budge',
                    sortable: true
                },
                {
                    key: 'social_media',
                    label: 'Social Media',
                    formatter: "social_media"
                },
                {
                    key: 'target',
                    label: 'Target',
                    sortable: true
                },
                {
                    key: 'created_at',
                    label: 'Created At',
                    sortable: true,
                    formatter: "timer"
                },
               
            ],
        }
    },
    created() {
        this.$store.state.activePageTitle = 'All my ads'
    },
    mounted(){
        this.GetAllAds();
    },
    methods:{
        GetAllAds(){
            axios.get('/user_all_ads')
            .then(response => {
                if(response.status){
                    let {data} = response
                    this.myads = data.data
                }
              
            })
            .catch(e => {this.errors.push(e)
            })
        },
        timer(value) {
            const dateTime = moment(value).utc().format('DD-MM-YYYY HH:mm:ss');
            return dateTime
        },
        social_media(value){
           let _temp = value.map((list)=>{
               return list.media_id
           })
           return _temp.toString();
        },
        media_image(value){
            let itemImage = new Image()
            itemImage.src ='/store/'+value
            return  '/store/'+value
    
        },
        Url(url){
           if(url){
                return '/storage/'+url.item.image
           }
           else{
               return '';
           }
           
        }
    }
}
</script>