<template>
    <div class="dashboard content-wrapper v-center">
        <div class="dashboard__btns">
            <template v-for="(btn, btnIndex) in dashboardActions">
                <router-link class="custom-btn" :key="btnIndex" v-if="btn.actionType == 'link'" :to="btn.action"><b-icon :icon="btn.icon" /> {{ btn.text }}</router-link>
                <a class="custom-btn" :key="btnIndex" v-if="btn.actionType == 'click'" @click="logout"><b-icon :icon="btn.icon" /> {{ btn.text }}</a>
            </template>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        this.$store.state.activePageTitle = 'Home'
    },
    computed: {
        dashboardActions() {
            return this.$store.state.dashboardActions
        }
    },
    methods: {
        logout() {
            axios.get('/user_logout')
            .then(response => {
                if(response.status){
                    window.location.href="/"
                }
            })
            .catch(e => {this.errors.push(e)})
        }
    }
}
</script>