<template>
    <div class="loginWrapper">
        <h4 class="loginWrapper__title">adfast</h4>
        <AuthForm />
    </div>
</template>

<script>
import AuthForm from '@/components/authForm'
export default {
    components: {
        AuthForm
    }
}
</script>