<template>
    <div class="newadPage content-wrapper">
        
        <b-alert :variant="variant" :show="show" 
         dismissible
         @dismissed="dismissCountDown=0"
         @dismiss-count-down="countDownChanged"
        >{{message}}</b-alert>
        <div class="newadPage__content">
           
            <div v-if="activeState == 0">
                <h4 class="newadPage__content__title">{{ newAdDestinations.title }}</h4>
                <div class="newadPage__content__group">
                    <div class="newadPage__content__group__item" v-for="(item, index) in newAdDestinations.list" :key="index">
                        {{ item.text }}
                        <label class="switch" :class="{'active': item.isSelected}"><input type="checkbox" v-model="item.isSelected" />    <div></div></label>
                    </div>
                </div>
            </div>
             <ValidationObserver  v-slot="{handleSubmit}"  ref="NewAdd">
                    <form @submit.prevent="handleSubmit(submitAd)">
                          
                             <div class="newadPage__content__form" v-for="(formItem, formIndex) in formData" :key="formIndex" v-show="activeState == formIndex+1">
                                    <template v-for="(input, inputIndex) in formItem.step">
                                        <ValidationProvider  v-slot="{valid, errors}"  :rules="input.rules" :name="input.label" :key="inputIndex">
                                       
                                        <div v-if="input.inputType == 'imageupload'" :key="inputIndex">
                                            <label for="">{{ input.label }} </label>

                                            <div style="background: #ccc; border: 1px solid #bbb; width: 100%; height: 200px; margin-bottom: 20px"></div>
                                            <div>
                                                <!-- Styled -->
                                                <b-form-file
                                                v-model="file1"
                                                :state="Boolean(file1)"
                                                placeholder="Choose a file or drop it here..."
                                                drop-placeholder="Drop file here..."
                                                ></b-form-file>
                                                <div class="mt-3">Selected file: {{ file1 ? file1.name : '' }}</div>]
                                            </div>
                                        </div>
                                        <b-form-group
                                            :key="inputIndex"
                                            :id="input.label"
                                            :label="input.label"
                                            :label-for="input.label"
                                            v-if="input.inputType !== 'textarea' && input.inputType !== 'imageupload'"
                                        >
                                            <b-form-input
                                                id="input-1"
                                                :type="input.inputType"
                                                v-model="input.value"
                                                :state="!valid ? false : true"
                                                :placeholder="input.placeholder"
                                                ></b-form-input>

                                                <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                                        </b-form-group>
                                        <div v-if="input.inputType == 'textarea'" :key="inputIndex">
                                            <label for="">{{ input.label }}</label>
                                            <b-form-textarea
                                            :id="input.label"
                                            :placeholder="input.placeholder"
                                            rows="3"
                                            max-rows="6"
                                             :state="!valid ? false : true"
                                            v-model="input.value"
                                            
                                            ></b-form-textarea>
                                            <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                                            <b-button  type="submit" class="custom-btn capital adsubmitbtn" v-if="formData.length - 1 == formIndex">launch</b-button>
                                        </div>
                                        </ValidationProvider>
                                  </template>
                            </div>
                     </form>
            </ValidationObserver>
        </div>
        <div class="newadPage__footer">
            <b-button class="custom-btn capital" :disabled="activeState == 0" @click="activeState--"><b-icon icon="arrow-left-short" /> Prev</b-button>
            <b-button class="custom-btn capital" v-if="activeState < 2" @click="activeState++"><b-icon icon="arrow-right-short" /> Next</b-button>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            file1: null,
            show :false,
            message : '',
            variant:'success',
            dismissSecs: 10,
            dismissCountDown: 0,
            showDismissibleAlert: false
        }
    },
    created() {
        this.$store.state.activePageTitle = 'Choose platform to advertise'
    },
    computed: {
        newAdDestinations:{
            get() {
                return this.$store.state.newAd.destinations
            },
            set(newVal) {
                this.$store.state.newAd.destinations = newVal
            }
        },
        activeState: {
            get() {
                return this.$store.state.newAd.activeState
            },
            set(newVal) {
                if(newVal == 0)
                    this.$store.state.activePageTitle = 'Choose platform to advertise'
                else if(newVal == 1)
                    this.$store.state.activePageTitle = 'Write your ad'
                else
                    this.$store.state.activePageTitle = 'Launch your ad'
                this.$store.state.newAd.activeState = newVal
            }
        },
        formData: {
            get() {
                return this.$store.state.newAd.formData
            },
            set(newVal) {
                this.$store.state.newAd.formData = newVal
            }
        }
    },
    methods: {
        submitAd(evt) {
             
            let _from_value = this.formData
            let _social_value = this.newAdDestinations
            let _final_object = {};
            let _social_media_items = [];
            _from_value.forEach((step_list, index)=>{
                
                if(step_list.step.length){
                    step_list.step.forEach((field_list, index)=>{
                          _final_object[field_list.name] = field_list.value;
                    })
                }
            })

           
            
            _social_value.list.forEach((social_list, index)=>{
                if(social_list.isSelected){
                    _social_media_items.push({'media_id': social_list.text})
                }
            })

            if(_social_media_items.length<=0){
                this.show  = true;
                this.variant  = 'danger';
                this.message  = 'Select Atleast One Social Media';
            }
            else{
               
                // _final_object['ads'] =  _social_media_items;
                var bodyFormData = new FormData();
                const data = new FormData();
                for(let form_object in _final_object){
                    data.append(`${form_object}`, _final_object[form_object]); 
                }
                const json = JSON.stringify(_final_object);
                const blob = new Blob([json], {
                     type: 'application/json'
                });
                data.append("image", this.file1);
                data.append("ads", JSON.stringify(_social_media_items));
               
                this.show  = false;
                axios({
                    method: 'post',
                    url: '/user_add_creation',
                    data: data,
                
                })
                .then(response => {
                    if(response.status){
                       this.$router.push('/thanks')
                    }
                    else{
                         this.show  = true;
                         this.message  = response.message;
                    }
                })
                .catch(e => {this.errors.push(e)
                })
            }

        },
        countDownChanged(dismissCountDown) {
            this.dismissCountDown = dismissCountDown
        },
    }
}
</script>