<template>
    <header>
        <b-btn class="back-btn" @click="GoBack"><b-icon icon="arrow-left-short" /></b-btn>
        <h4 class="page-title">{{ activePageTitle }}</h4>
        <div class="right-menus">
            <div class="right-menus__item" v-for="(item, index) in activePageActions" :key="index">
                <router-link :to="item.action" v-if="item.actionType == 'link'"><b-icon :icon="item.icon" /></router-link>
                <a v-if="item.actionType == 'click'" @click="logout"><b-icon :icon="item.icon" /></a>
            </div>
        </div>
    </header>
</template>

<script>
export default {
    computed: {
        activePageTitle: {
            get() {
                return this.$store.state.activePageTitle
            },
            set(newVal) {
                this.$store.state.activePageTitle = newVal
            }
        },
        activePageActions() {
            return this.$store.state.activePageActions
        }
    },
    methods: {
       logout() {
            axios.get('/user_logout')
            .then(response => {
                if(response.status){
                    window.location.href="/"
                }
            })
            .catch(e => {this.errors.push(e)})
        },
        GoBack(){
            this.$router.go(-1)
        }
    }
}
</script>