$black:                          #000000;
$white:                          #ffffff;
$theme-clr1:                     #00a898;
$theme-clr2:                     #ffbf0e;
$green:                          #0f9d58;
$blue:                           #0051a8;
$pink:                           #e1306b;

// landing page
$landingPage-clr:                 $theme-clr1;

// global
$btn_bg:                          $theme-clr1;
$link_clr:                        $theme-clr2;
$error_clr:                       #dd0000;
$text-clr:                         #424242;
$lt-text-clr:                      #bbbbbb;

// header 
$header_bg:                       $theme-clr1;
$header_clr:                      $white;

// login
$loginBg:                         $theme-clr1;
$authForm_bg:                     $white;
$authForm-title_bg:               $theme-clr1;

// dashbaord
$dashboard-link_clr:              $white;

// newad
$newadSwitch_clr:                 $theme-clr1;